<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    {% if title %}
        <title>{{ title }}</title>
    {% else %}
        <title>The Lemon Programming Language</title>
    {% end %}
    <meta name="description" content="The Lemon Programming Language">
    <meta name="author" content="Zhicheng Wei">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/static/normalize.css">
    <link rel="stylesheet" href="/static/style.css"/>
    <link rel="icon" type="image/png" href="/static/favicon.png" />
    <!--[if IE 6]>
        <style>#container {height:100%;}</style>
    <![endif]-->
</head>
<body onload="PR.prettyPrint()">
<div id="container">
    <div id="header">
        <div class="logo"><h1><img id="logo" src="/static/logo.png" alt="The Lemon Programming Language"></h1></div>
        <div class="nav">
            <a href="/"{% if home %} class="active"{% end %}>Home</a>
            <a href="/documentation"{% if documentation %} class="active"{% end %}>Documentation</a>
            <a href="/downloads"{% if downloads %} class="active"{% end %}>Downloads</a>
            <a href="/libraries"{% if libraries %} class="active"{% end %}>Libraries</a>
        </div>
    </div>
    <div id="body">
        {{ _content_ }}
    </div>
    <div id="footer">
        <span>&copy; 2017 Zhicheng Wei. Content is licensed under the <a href="https://creativecommons.org/publicdomain/mark/1.0/">Public Domain</a>.</span>
        <span>This site is powered by Lemon.</span>
    </div>
<script src="/static/prettify.js"></script></div>
</body>
</html>
